teste.py
cogs/__pycache__/ignore.cpython-312.pyc
cogs/__pycache__/Player.cpython-312.pyc
cogs/__pycache__/Players.cpython-312.pyc
libs/sub_libs/__pycache__/ignore.cpython-312.pyc
libs/sub_libs/__pycache__/Player.cpython-312.pyc
libs/__pycache__/Players.cpython-312.pyc
